[submodule "centos-7.1/cookbooks/apt"]
	path = centos-7.1/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "centos-7.1/cookbooks/build-essential"]
	path = centos-7.1/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "centos-7.1/cookbooks/chef-sugar"]
	path = centos-7.1/cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "centos-7.1/cookbooks/openssl"]
	path = centos-7.1/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "centos-7.1/cookbooks/postgresql"]
	path = centos-7.1/cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "centos-7.1/cookbooks/opennms-light"]
	path = centos-7.1/cookbooks/opennms-light
	url = https://github.com/opennms-forge/chef-opennms-light.git
[submodule "centos-7.1/cookbooks/ubuntu"]
	path = centos-7.1/cookbooks/ubuntu
	url = https://github.com/opscode-cookbooks/ubuntu.git
